
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Table</h2>
          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>UserId</th>
        <th>Id</th>
        <th>title</th>
        <th>body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userVo of userVo">
        <td>{{userVo.userId}}</td>
        <td>{{userVo.id}}</td>
        <td>{{userVo.title}}</td>
        <td>{{userVo.body}}</td>
      </tr>
    </tbody>
  </table>
</div><br><br><br>

</body>
</html>
